header {
    display: flex;
    align-items: center;
}

.common {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main {
    max-width: 400px;
    font-family: sans-serif ;
    color: white;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

h1, h3 {
    margin: 0px;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    display: flex;
    margin: 10px 150px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;

}

.contacts {
    width: 50px;
    justify-content: center;
    align-items: center;
}

.contacts:hover {
    transform: translateY(-5px);
}

.logos {
    display: flex;
    align-items: center;
    column-gap: 15px;
}